.game {
  box-sizing: border-box;
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template: calc(100% - 21rem) 10rem 10rem / 10rem calc(100% - 21rem) 10rem;

  background: #1f1f1f;

  grid-gap: 0.5rem;
  padding: 0.5rem;
  font-weight: bold;
}

.game > * {
  background: #2f2f2f;
  border-radius: 3px;
  position: relative;
  padding: 1rem;
}

.card {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0.5rem;

  height: 100%;
  min-width: 7rem;

  cursor: pointer;
}

.hand {
  grid-column: 2 / 3;

  display: flex;
  align-items: center;
  justify-content: center;
}

.status, .players {
  grid-row: 2 / 4;
}

.turn {
  grid-column: 2 / 3;
  display: flex;
  justify-content: space-between;
}

.turn > * {
  height: 100%;
  display: flex;
}

.status {
  grid-column: 3 / 4;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 2rem;
  color: gold;
}


.direction {
  text-align: right;
  direction: rtl;
  color: #ffffffcf;
  font-size: 1.5rem;
  border-radius: 0.3rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  white-space: nowrap;
}

.status .turn-stats {
  flex: 1;
}

.status .turn-stats .stat {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status > .cell {
  text-align: center;
  width: 100%;
}

.hand .card {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.supply {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-column: 1 / 4;
}

.supply .row {
  display: flex;
  justify-content: center;
  height: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.supply .card {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.players .player {
  border: 2px solid #ffffff38;
  border-radius: 3px;
  min-height: 3rem;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  box-sizing: border-box;
  display: grid;
  grid-template: auto auto / 2rem auto;
  direction: rtl;
  grid-gap: 0.2rem 0.5rem;
  font-size: 1.2rem;
}

.players .player .avatar {
  grid-row: 1 / 3;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.players .player .avatar svg {
  color: wheat;
  padding: 0.5rem;
  border-radius: 1rem;
}

.player-choice-container {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  display: none;
  background: #000000a1;
  z-index: 1;
}

.actions .button {
  background: gold;
  margin: 0.5rem;
  padding: 0.5rem;
  color: #1f1f1f;
  font-size: 1.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
  text-align: center;
}

.actions .skip.button {
  background: none;
  border: 2px solid gold;
  color: gold;
  box-sizing: border-box;
}

.actions .button.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.hidden {
  display: none;
}

.game .dialog {
  position: absolute;
  width: 30vw;
  min-height: 30vh;
  top: 10vh;
  left: 35vw;
  border: 1px solid black;
  box-shadow: 1px 1px 2px 1px #0e0c0c;
  padding: 0;
}

.game .dialog .discarded-cards-choice {
  width: 100%;
  height: 60vh;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.game .dialog .discarded-cards-choice .card {
  height: unset;
}

.game .dialog .card {
  height: 40vh;
}

.game .dialog .cards {
  width: 100%;
  height: 30vh;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.game .dialog .card {
  height: 30vh;
}


.stats {
  text-align: center;
  direction: rtl;
  color: #ffffffcf;
  font-size: 1.5rem;
  border-radius: 0.3rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  white-space: nowrap;
}

.stats .title {
  margin-top: 0.5rem;
}